<div class="section-box order-entry h-100 bg-light-green">
    <div class="section-title clearfix"><h2 class="float-right">إدخال الأمر</h2></div>
    <div class="section-content">                    
      <form (keydown.enter)="$event.preventDefault()">
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="">رمز السهم</label>
            <input type="text" class="form-control form-control-lg" id="" placeholder="1020" value=""  (keydown.enter)="getStockDetail($event.target.value)">                         
          </div>
          <div class="col-md-4 mb-3">
            <label for="">الأمر</label>
            <select #orderType class="form-control form-control-lg" id="">
              <option selected disabled value="">شراء</option>
              <option>...</option>
            </select>                          
          </div>
          <div class="col-md-4 mb-3">
            <label for="">رقم المحفظة</label>
            <input type="text" class="form-control form-control-lg" id="" placeholder="1039-1" value="">                         
          </div>                        
          <div class="col-md-4 mb-3">
            <label for="">السعر</label>
            <input type="text" class="form-control form-control-lg" id="" placeholder="55" value="">                         
          </div>
          <div class="col-md-4 mb-3">
            <label for="">الصلاحية</label>
            <select class="form-control form-control-lg" id="">
              <option selected disabled value="">حتى تاريخ</option>
              <option>...</option>
            </select>                          
          </div>
          <div class="col-md-4 mb-3">
            <label for="">التاريخ</label>
            <input type="date" class="form-control form-control-lg" id="" value="">                         
          </div>  
          <div class="col-md-4 mb-3">
            <label for="">الكمية</label>
            <input type="text" class="form-control form-control-lg" id="" placeholder="1" value="">                         
          </div>
          <div class="col-md-4 mb-3">
            <label for="">نوع الأمر</label>
            <select class="form-control form-control-lg" id="" placeholder="">
              <option selected disabled value="">سعر محدد</option>
              <option>...</option>
            </select>                          
          </div>
          <div class="col-md-4 mb-3">
            <label for="">الكمية المعلنة</label>
            <input type="text" class="form-control form-control-lg" id="" placeholder="" value="">
          </div>
        </div>
        <div class="d-flex flex-row-reverse bd-highlight mt-3">
          <button mat-raised-button color="success" class="btn btn-lg btn-success mr-2" (click)="openDialog()">إرسال الأمر</button>
          <button class="btn btn-outline-secondary btn-lg" type="reset">مسح</button>
        </div>
      </form>

    </div>
  </div>