<div class="section-box order-entry h-100">
    <div class="section-title clearfix">
      <h2 class="float-right">تفاصيل العمولة</h2>
    </div>
    <div class="section-content">
      <div class="alert alert-success" role="alert">
        <i data-feather="check-circle" class="ml-1"></i>
        تم جلب العمولات بنجاح
      </div>

      <div class="symbols-info">
        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="symbol-data">
              <span class="symbol-data-label d-block">عمولة تداول</span>
              <strong class="symbol-data-value d-block">0.03</strong>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="symbol-data">
              <span class="symbol-data-label d-block">عمولة الإنماء للاستثمار</span>
              <strong class="symbol-data-value d-block">0.06</strong>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="symbol-data">
              <span class="symbol-data-label d-block">نسبة الضريبة</span>
              <strong class="symbol-data-value d-block">5.00%</strong>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="symbol-data">
              <span class="symbol-data-label d-block">قيمة الضريبة</span>
              <strong class="symbol-data-value d-block">0</strong>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="symbol-data">
              <span class="symbol-data-label d-block">مجموع العمولة</span>
              <strong class="symbol-data-value d-block">0.09</strong>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="symbol-data">
              <span class="symbol-data-label d-block">مجموع قيمة الصفقة</span>
              <strong class="symbol-data-value d-block">5,500</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>