<div class="section-box">
    <div class="section-title clearfix">
      <h2 class="float-right">تفاصيل المحفظة <span class="d-inline px-3 bg-primary text-white">1039-1</span></h2>
    </div>

    <div class="section-content">
      <form>
        <div class="form-row">
          <div class="col-auto mb-3">
            <label for="#">اسم العميل</label>
            <input type="text" class="form-control form-control-lg bg-light text-primary font-weight-bold" value="محمد عبدالله إسماعيل" disabled>
          </div>
        </div>
      </form>                  
      <div class="symbols-info">
        <div class="row">
          <div class="col-md-2 mb-3">
            <div class="symbol-data">
              <span class="symbol-data-label d-block">رقم الهوية</span>
              <strong class="symbol-data-value d-block">1131781005</strong>
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <div class="symbol-data">
              <span class="symbol-data-label d-block">رقم حساب الاستثمار</span>
              <strong class="symbol-data-value d-block text-success">1000001039014</strong>
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <div class="symbol-data">
              <span class="symbol-data-label d-block">رقم المحفظة</span>
              <strong class="symbol-data-value d-block text-success">1039-1</strong>
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <div class="symbol-data">
              <span class="symbol-data-label d-block">رقم الجوال</span>
              <strong class="symbol-data-value d-block">0567894532</strong>
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <div class="symbol-data">
              <span class="symbol-data-label d-block">القوة الشرائية</span>
              <strong class="symbol-data-value d-block">176,345,454,432</strong>
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <div class="symbol-data">
              <span class="symbol-data-label d-block">التسهيلات</span>
              <strong class="symbol-data-value d-block">31</strong>
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <div class="symbol-data">
              <span class="symbol-data-label d-block">معدل الخصم</span>
              <strong class="symbol-data-value d-block">0.00%</strong>
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <div class="symbol-data">
              <span class="symbol-data-label d-block">محفظة التداول</span>
              <strong class="symbol-data-value d-block text-success">0</strong>
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <div class="symbol-data">
              <span class="symbol-data-label d-block">مبلغ البيع المنفذ</span>
              <strong class="symbol-data-value d-block text-success">35</strong>
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <div class="symbol-data">
              <span class="symbol-data-label d-block">مبلغ الشراء المنفذ</span>
              <strong class="symbol-data-value d-block text-danger">245</strong>
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <div class="symbol-data">
              <span class="symbol-data-label d-block">مكسب/خسارة كلية مدركة</span>
              <strong class="symbol-data-value d-block text-danger">3,387</strong>
            </div>
          </div>
          <div class="col-md-2 mb-3">
            <div class="symbol-data">
              <span class="symbol-data-label d-block">مكسب/خسارة كلية غير مدركة</span>
              <strong class="symbol-data-value d-block">5,358</strong>
            </div>
          </div>


          <div class="col-md-2 mb-3">
            <div class="symbol-data">
              <span class="symbol-data-label d-block">ممبلغ البيع المعلق</span>
              <strong class="symbol-data-value d-block">0</strong>
            </div>
          </div>

          <div class="col-md-2 mb-3">
            <div class="symbol-data">
              <span class="symbol-data-label d-block">قيمة السوق الكلية</span>
              <strong class="symbol-data-value d-block">108,229,222</strong>
            </div>
          </div>

          <div class="col-md-2 mb-3">
            <div class="symbol-data">
              <span class="symbol-data-label d-block">التكلفة الكلية</span>
              <strong class="symbol-data-value d-block">245</strong>
            </div>
          </div>
        </div>
      </div><!-- End symbols-info -->                  
    </div><!-- end section-content -->
  </div>