<!-- <div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-inma-sidebar></app-inma-sidebar>
    </div>
    <div [ngClass]="isRTL ? 'main-panel-rtl' : 'main-panel'">
        <app-inma-navbar></app-inma-navbar>
        <router-outlet></router-outlet>
       
    </div>
   
</div> -->


<div class="dashboard-container">
    <div class="container-fluid">

      <div class="row vh-100">
        <div class="col-1 position-relative">
          <!-- SID BAR HERE-->
          <app-inma-sidebar></app-inma-sidebar>
        </div>
        <div class="col-11">

     <!-- DASH HEADER NAVBAR HERE-->
     <app-inma-navbar></app-inma-navbar>
          <div class="dash-content" [@fadeAnimation]="getRouterOutletState(o)">
           <!-- dashboard content-->
           <router-outlet #o="outlet"></router-outlet>
          </div>
          
          <app-footer></app-footer>
       
        </div>
      </div>
    </div>
  </div>   