<div class="section-box">
    <div class="section-title clearfix">
      <h2 class="float-right">أسهم المحفظة</h2>
      <a class="expand-icon float-left" href="#sympolsCollapse" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="sympolsCollapse">
        <i data-feather="chevron-up"></i>
      </a>
    </div>
    <div class="section-content collapse show" id="sympolsCollapse">        
      <div class="table-responsive">                        
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th class="align-middle" scope="col">رمز السهم</th>
              <th class="align-middle" scope="col">الكمية</th>
              <th class="align-middle" scope="col">كميى البيع المعلقة</th>
              <th class="align-middle" scope="col">كمبة الشراء المعلقة</th>
              <th class="align-middle" scope="col">الكمية المتعهدة</th>
              <th class="align-middle" scope="col">الكمية المتوفرة</th>
              <th class="align-middle" scope="col">متوسط قيمة السعر</th>
              <th class="align-middle" scope="col">سعر السوق</th>
              <th class="align-middle" scope="col">التكلفة الكلية</th>
              <th class="align-middle" scope="col">قيمة السوق الكلية</th>
              <th class="align-middle" scope="col">مكسب/خسارة كلية غير مدركة</th>                        
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-middle"><a href="#">12486</a></td>
              <td class="align-middle">35</td>
              <td class="align-middle">35</td>
              <td class="align-middle">2.0</td>
              <td class="align-middle">234</td>
              <td class="align-middle">34</td>
              <td class="align-middle">15.5</td>
              <td class="align-middle">938.00</td>
              <td class="align-middle">1,244.00</td>
              <td class="align-middle">0</td>
              <td class="align-middle">1,344.00</td>
            </tr>
            <tr>
              <td class="align-middle"><a href="#">12486</a></td>
              <td class="align-middle">35</td>
              <td class="align-middle">35</td>
              <td class="align-middle">2.0</td>
              <td class="align-middle">234</td>
              <td class="align-middle">34</td>
              <td class="align-middle">15.5</td>
              <td class="align-middle">938.00</td>
              <td class="align-middle">1,244.00</td>
              <td class="align-middle">0</td>
              <td class="align-middle">1,344.00</td>
            </tr>
            <tr>
              <td class="align-middle"><a href="#">12486</a></td>
              <td class="align-middle">35</td>
              <td class="align-middle">35</td>
              <td class="align-middle">2.0</td>
              <td class="align-middle">234</td>
              <td class="align-middle">34</td>
              <td class="align-middle">15.5</td>
              <td class="align-middle">938.00</td>
              <td class="align-middle">1,244.00</td>
              <td class="align-middle">0</td>
              <td class="align-middle">1,344.00</td>
            </tr>                                             
          </tbody>
        </table>
        <div class="pagination-container d-flex flex-row-reverse pt-2">
          <nav aria-label="Page navigation example">
            <ul class="pagination mb-0">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div><!-- end pagintaion-container -->                    
      </div><!-- end table-responsive -->                    
    </div><!-- End section-box -->
  </div>