<div class="section-box">

    <div class="section-title clearfix">
      <h2 class="float-right">الأوامر القائمة <a class="mr-2 text-success" href="#"><i data-feather="refresh-cw" stroke-width="2"></i></a></h2>
      <a class="expand-icon float-left" href="#outstandingCollapse" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="outstandingCollapse">
        <i data-feather="chevron-up"></i>
      </a>
    </div><!-- section-title -->

    <div class="section-content collapse show" id="outstandingCollapse">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">رقم الامر</th>
              <th scope="col">تاريخ الطلب</th>
              <th scope="col">اسم الشركة</th>
              <th scope="col">نوع الأمر</th>
              <th scope="col">الحالة</th>
              <th scope="col">الكمية</th>
              <th scope="col">السعر</th>
              <th scope="col">الكمية المنفذة</th>
              <th scope="col">تاريخ الانتهاء</th>
              <th scope="col">الفاتورة الضريبية</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-middle dropdown order-link-holder">
                <a class="btn btn-link dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false">
                  2003762W25
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item clearfix" href="#" data-toggle="modal" data-target="#orderSummaryModal"><i data-feather="info"></i>ملخص الأمر</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item clearfix" href="#" data-toggle="modal" data-target="#orderHistoryModal"><i data-feather="calendar"></i>تاريخ الطلب</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item clearfix" href="#"><i data-feather="copy"></i>تصدير الأمر</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item clearfix" href="#" data-toggle="modal" data-target="#orderEditModal"><i data-feather="edit"></i>تعديل الأمر</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item clearfix" href="#" data-toggle="modal" data-target="#orderCancelModal"><i data-feather="x-circle"></i>إلغاء الأمر</a>
                </div>                    
              </td>
              <td>28-01-2020</td>
              <td>الشركة السعودية للصناعات الأساسية</td>
              <td><span class="ml-1 text-danger d-inline-block">بيع</span>محدد السعر</td>
              <td>منتهي الصلاحية</td>
              <td>227</td>
              <td>89.60</td>
              <td>0</td>
              <td>28-01-2020</td>
              <td><a href="#"><i data-feather="printer"></i></a></td>
            </tr>
            <tr>
              <td class="align-middle dropdown order-link-holder">
                <a class="btn btn-link dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false">
                  2003762W25
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item clearfix" href="#" data-toggle="modal" data-target="#orderSummaryModal"><i data-feather="info"></i>ملخص الأمر</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item clearfix" href="#" data-toggle="modal" data-target="#orderHistoryModal"><i data-feather="calendar"></i>تاريخ الطلب</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item clearfix" href="#"><i data-feather="copy"></i>تصدير الأمر</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item clearfix" href="#" data-toggle="modal" data-target="#orderEditModal"><i data-feather="edit"></i>تعديل الأمر</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item clearfix" href="#" data-toggle="modal" data-target="#orderCancelModal"><i data-feather="x-circle"></i>إلغاء الأمر</a>
                </div>                    
              </td>
              <td>28-01-2020</td>
              <td>الشركة السعودية للصناعات الأساسية</td>
              <td><span class="ml-1 text-success d-inline-block">شراء</span>سعر السوق</td>
              <td>منتهي الصلاحية</td>
              <td>227</td>
              <td>89.60</td>
              <td>0</td>
              <td>28-01-2020</td>
              <td><a href="#"><i data-feather="printer"></i></a></td>
            </tr>
          </tbody>
        </table>   
      </div> <!-- end table-responsive -->
        <div class="pagination-container d-flex flex-row-reverse pt-2">
          <nav aria-label="Page navigation example">
            <ul class="pagination mb-0">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div><!-- end pagintaion-container -->  
      <!-- orderSummaryModal Modal -->
      <div id="orderSummaryModal" class="modal fade" data-backdrop="static" tabindex="-1">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="orderSummaryModalLabel">ملخص الأمر</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="text-danger" data-feather="x-circle"></i></span>
              </button>
            </div>
            <div class="modal-body">
              <div class="order-summary mb-4">
                <div class="table-responsive">                                   
                  <table class="table table-hover">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">رقم الامر</th>
                        <th scope="col">تاريخ الطلب</th>
                        <th scope="col">اسم الشركة</th>
                        <th scope="col">نوع الأمر</th>
                        <th scope="col">الحالة</th>
                        <th scope="col">الكمية</th>
                        <th scope="col">السعر</th>
                        <th scope="col">الكمية المنفذة</th>
                        <th scope="col">تاريخ الانتهاء</th>
                        <th scope="col">الفاتورة الضريبية</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>200286Q33J</td>
                        <td>28-01-2020</td>
                        <td>الشركة السعودية للصناعات الأساسية</td>
                        <td><span class="ml-1 text-danger d-inline-block">بيع</span>محدد السعر</td>
                        <td>منتهي الصلاحية</td>
                        <td>227</td>
                        <td>89.60</td>
                        <td>0</td>
                        <td>28-01-2020</td>
                        <td><a href="#"><i data-feather="printer"></i></a></td>
                      </tr>                  
                    </tbody>
                  </table>    
                </div> <!-- end table-responsive -->
              </div><!-- end order-summary -->
              <div class="excuted-orders">
                <h3 >الأوامر المنفذة</h3>
                <div class="table-responsive">                                   
                  <table class="table table-hover">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">رقم الامر</th>
                        <th scope="col">تاريخ الطلب</th>
                        <th scope="col">اسم الشركة</th>
                        <th scope="col">نوع الأمر</th>
                        <th scope="col">الحالة</th>
                        <th scope="col">الكمية</th>
                        <th scope="col">السعر</th>
                        <th scope="col">الكمية المنفذة</th>
                        <th scope="col">تاريخ الانتهاء</th>
                        <th scope="col">الفاتورة الضريبية</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>200286Q33J</td>
                        <td>28-01-2020</td>
                        <td>الشركة السعودية للصناعات الأساسية</td>
                        <td><span class="ml-1 text-danger d-inline-block">بيع</span>محدد السعر</td>
                        <td>منتهي الصلاحية</td>
                        <td>227</td>
                        <td>89.60</td>
                        <td>0</td>
                        <td>28-01-2020</td>
                        <td><a href="#"><i data-feather="printer"></i></a></td>
                      </tr>     
                      <tr>
                        <td>200286Q33J</td>
                        <td>28-01-2020</td>
                        <td>الشركة السعودية للصناعات الأساسية</td>
                        <td><span class="ml-1 text-danger d-inline-block">بيع</span>محدد السعر</td>
                        <td>منتهي الصلاحية</td>
                        <td>227</td>
                        <td>89.60</td>
                        <td>0</td>
                        <td>28-01-2020</td>
                        <td><a href="#"><i data-feather="printer"></i></a></td>
                      </tr>    
                      <tr>
                        <td>200286Q33J</td>
                        <td>28-01-2020</td>
                        <td>الشركة السعودية للصناعات الأساسية</td>
                        <td><span class="ml-1 text-danger d-inline-block">بيع</span>محدد السعر</td>
                        <td>منتهي الصلاحية</td>
                        <td>227</td>
                        <td>89.60</td>
                        <td>0</td>
                        <td>28-01-2020</td>
                        <td><a href="#"><i data-feather="printer"></i></a></td>
                      </tr>
                    </tbody>
                  </table>    
                </div> <!-- end table-responsive -->    
              </div><!-- end excuted-orders -->                           

            </div><!-- end modal-body -->
          </div>
        </div>
      </div><!-- End modal --> 

      <!-- orderHistoryModal Modal -->
      <div id="orderHistoryModal" class="modal fade" data-backdrop="static" tabindex="-1">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">

            <div class="modal-header">
              <h2 class="modal-title" id="orderHistoryModalLabel">تاريخ الطلب <span class="d-inline px-3 bg-primar2 text-white">2003762W25</span></h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="text-danger" data-feather="x-circle"></i></span>
              </button>
            </div><!-- end modal-header -->

            <div class="modal-body">
              <div class="alert alert-success mb-3" role="alert">
                <i data-feather="check-circle" class="ml-1"></i>
                تم جلب بيانات الأوامر بنجاح، مجموع الأوامر المطابقة لبحثك 2
              </div>   
              <div class="table-responsive">                                   
                <table class="table table-hover">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">رقم الامر</th>
                      <th scope="col">تاريخ الطلب</th>
                      <th scope="col">اسم الشركة</th>
                      <th scope="col">نوع الأمر</th>
                      <th scope="col">الحالة</th>
                      <th scope="col">الكمية</th>
                      <th scope="col">السعر</th>
                      <th scope="col">الكمية المنفذة</th>
                      <th scope="col">تاريخ الانتهاء</th>
                      <th scope="col">الفاتورة الضريبية</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <tr>
                        <td>200286Q33J</td>
                        <td>28-01-2020</td>
                        <td>الشركة السعودية للصناعات الأساسية</td>
                        <td><span class="ml-1 text-danger d-inline-block">بيع</span>محدد السعر</td>
                        <td>منتهي الصلاحية</td>
                        <td>227</td>
                        <td>89.60</td>
                        <td>0</td>
                        <td>28-01-2020</td>
                        <td><a href="#"><i data-feather="printer"></i></a></td>
                      </tr>                   
                  </tbody>
                </table>    
              </div> <!-- end table-responsive -->  
            </div><!-- end modal-body -->

          </div><!-- modal-content -->
        </div><!--End modal-dialog -->
      </div><!-- End modal --> 

      <!-- orderEditModal Modal -->
      <div id="orderEditModal" class="modal fade" data-backdrop="static" tabindex="-1">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="orderEditModalLabel">تعديل الأمر</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="text-danger" data-feather="x-circle"></i></span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="row mb-4">
                  <div class="col-12">
                    <div class="inner-section-content bg-light-green rounded">                  
                      <div class="form-row">
                        <div class="col-md-3 mb-3">
                          <label for="">رمز السهم</label>
                          <input type="text" class="form-control form-control-lg" id="" placeholder="1020" value="">
                        </div>
                        <div class="col-md-3 mb-3">
                          <label for="">الأمر</label>
                          <select class="form-control form-control-lg" id="">
                            <option selected disabled value="">شراء</option>
                            <option>...</option>
                          </select>                          
                        </div>
                        <div class="col-md-3 mb-3">
                          <label for="">رقم المحفظة</label>
                          <input type="text" class="form-control form-control-lg" id="" placeholder="1039-1" value="">                         
                        </div>                        
                        <div class="col-md-3 mb-3">
                          <label for="">السعر</label>
                          <input type="text" class="form-control form-control-lg" id="" placeholder="55" value="">                         
                        </div>
                        <div class="col-md-3 mb-3">
                          <label for="">الصلاحية</label>
                          <select class="form-control form-control-lg" id="">
                            <option selected disabled value="">حتى تاريخ</option>
                            <option>...</option>
                          </select>                          
                        </div>
                        <div class="col-md-3 mb-3">
                          <label for="">التاريخ</label>
                          <input type="date" class="form-control form-control-lg" id="" value="">                         
                        </div>  
                        <div class="col-md-3 mb-3">
                          <label for="">الكمية</label>
                          <input type="text" class="form-control form-control-lg" id="" placeholder="1" value="">                         
                        </div>
                        <div class="col-md-3 mb-3">
                          <label for="">نوع الأمر</label>
                          <select class="form-control form-control-lg" id="" placeholder="">
                            <option selected disabled value="">سعر محدد</option>
                            <option>...</option>
                          </select>                          
                        </div>
                        <div class="col-md-3 mb-3">
                          <label for="">الكمية المعلنة</label>
                          <input type="text" class="form-control form-control-lg" id="" placeholder="" value="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <div class="inner-section-box rounded border order-entry h-100">
                      <div class="section-title clearfix">
                        <h3 class="float-right">تفاصيل السهم</h3>
                      </div>
                      <div class="section-content">
                        <form>
                          <div class="form-row">
                            <div class="col mb-3">
                              <label for="#">اسم الشركة</label>
                              <input type="text" class="form-control form-control-lg text-primary font-weight-bold" value="الشركة السعودية العالمية للبتروكيماويات" disabled>
                            </div>
                          </div>
                        </form>                    
                        <div class="symbols-info">
                          <div class="row">
                            <div class="col-md-4 mb-3">
                              <div class="symbol-data">
                                <span class="symbol-data-label d-block">السعر</span>
                                <strong class="symbol-data-value d-block">234</strong>
                              </div>
                            </div>
                            <div class="col-md-4 mb-3">
                              <div class="symbol-data">
                                <span class="symbol-data-label d-block">معدل التغير</span>
                                <strong class="symbol-data-value d-block text-success">12%</strong>
                              </div>
                            </div>
                            <div class="col-md-4 mb-3">
                              <div class="symbol-data">
                                <span class="symbol-data-label d-block">التغير</span>
                                <strong class="symbol-data-value d-block text-success">1.5</strong>
                              </div>
                            </div>
                            <div class="col-md-4 mb-3">
                              <div class="symbol-data">
                                <span class="symbol-data-label d-block">الأدنى</span>
                                <strong class="symbol-data-value d-block">31</strong>
                              </div>
                            </div>
                            <div class="col-md-4 mb-3">
                              <div class="symbol-data">
                                <span class="symbol-data-label d-block">الأعلى</span>
                                <strong class="symbol-data-value d-block">35</strong>
                              </div>
                            </div>
                            <div class="col-md-4 mb-3">
                              <div class="symbol-data">
                                <span class="symbol-data-label d-block">سعر الافتتاح</span>
                                <strong class="symbol-data-value d-block">0</strong>
                              </div>
                            </div>
                            <div class="col-md-4 mb-3">
                              <div class="symbol-data">
                                <span class="symbol-data-label d-block">سعر الإغلاق</span>
                                <strong class="symbol-data-value d-block">34</strong>
                              </div>
                            </div>
                            <div class="col-md-4 mb-3">
                              <div class="symbol-data">
                                <span class="symbol-data-label d-block">أفضل طلب</span>
                                <strong class="symbol-data-value d-block text-success">35</strong>
                              </div>
                            </div>
                            <div class="col-md-4 mb-3">
                              <div class="symbol-data">
                                <span class="symbol-data-label d-block">كمية الطلب</span>
                                <strong class="symbol-data-value d-block text-success">1450</strong>
                              </div>
                            </div>
                            <div class="col-md-4 mb-3">
                              <div class="symbol-data">
                                <span class="symbol-data-label d-block">أفضل عرض</span>
                                <strong class="symbol-data-value d-block text-danger">35</strong>
                              </div>
                            </div>
                            <div class="col-md-4 mb-3">
                              <div class="symbol-data">
                                <span class="symbol-data-label d-block">كمية العرض</span>
                                <strong class="symbol-data-value d-block text-danger">234</strong>
                              </div>
                            </div>
                            <div class="col-md-4 mb-3">
                              <div class="symbol-data">
                                <span class="symbol-data-label d-block">معدل الخطر</span>
                                <strong class="symbol-data-value d-block">2.0</strong>
                              </div>
                            </div>
                          </div>
                        </div><!-- End symbols-info -->
                      </div>
                    </div><!-- End section-box -->
                  </div>

                  <div class="col-4">
                    <div class="inner-section-box rounded border order-entry h-100">
                      <div class="section-title clearfix">
                        <h3 class="float-right">تفاصيل العمولة</h3>
                      </div>
                      <div class="section-content">
                        <div class="alert alert-success" role="alert">
                          <i data-feather="check-circle" class="ml-1"></i>
                          تم جلب العمولات بنجاح
                        </div>

                        <div class="symbols-info">
                          <div class="row">
                            <div class="col-md-6 mb-3">
                              <div class="symbol-data">
                                <span class="symbol-data-label d-block">عمولة تداول</span>
                                <strong class="symbol-data-value d-block">0.03</strong>
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <div class="symbol-data">
                                <span class="symbol-data-label d-block">عمولة الإنماء للاستثمار</span>
                                <strong class="symbol-data-value d-block">0.06</strong>
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <div class="symbol-data">
                                <span class="symbol-data-label d-block">نسبة الضريبة</span>
                                <strong class="symbol-data-value d-block">5.00%</strong>
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <div class="symbol-data">
                                <span class="symbol-data-label d-block">قيمة الضريبة</span>
                                <strong class="symbol-data-value d-block">0</strong>
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <div class="symbol-data">
                                <span class="symbol-data-label d-block">مجموع العمولة</span>
                                <strong class="symbol-data-value d-block">0.09</strong>
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <div class="symbol-data">
                                <span class="symbol-data-label d-block">مجموع قيمة الصفقة</span>
                                <strong class="symbol-data-value d-block">5,500</strong>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!-- End section-box -->
                  </div><!-- End col-6 -->

                  <div class="col-4">
                    <div class="inner-section-box rounded border order-entry h-100">
                      <div class="section-title clearfix">
                        <h2 class="float-right">تفاصيل المحفظة <span class="d-inline px-3 bg-primary text-white">1039-1</span></h2>
                      </div>

                      <div class="section-content">
                        <form>
                          <div class="form-row">
                            <div class="col mb-3">
                              <label for="#">اسم العميل</label>
                              <input type="text" class="form-control form-control-lg bg-light text-primary font-weight-bold" value="محمد عبدالله إسماعيل" disabled>
                            </div>
                          </div>
                        </form>                  
                        <div class="symbols-info">
                          <div class="row">
                            <div class="col-md-6 mb-3">
                              <div class="symbol-data">
                                <span class="symbol-data-label d-block">رقم الهوية</span>
                                <strong class="symbol-data-value d-block">1131781005</strong>
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <div class="symbol-data">
                                <span class="symbol-data-label d-block">رقم حساب الاستثمار</span>
                                <strong class="symbol-data-value d-block text-success">1000001039014</strong>
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <div class="symbol-data">
                                <span class="symbol-data-label d-block">رقم المحفظة</span>
                                <strong class="symbol-data-value d-block text-success">1039-1</strong>
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <div class="symbol-data">
                                <span class="symbol-data-label d-block">رقم الجوال</span>
                                <strong class="symbol-data-value d-block">0567894532</strong>
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <div class="symbol-data">
                                <span class="symbol-data-label d-block">القوة الشرائية</span>
                                <strong class="symbol-data-value d-block">176,345,454,432</strong>
                              </div>
                            </div>
                            <div class="col-md-6 mb-3">
                              <div class="symbol-data">
                                <span class="symbol-data-label d-block">التسهيلات</span>
                                <strong class="symbol-data-value d-block">31</strong>
                              </div>
                            </div>
                          </div>
                        </div><!-- End symbols-info -->                  
                      </div><!-- end section-content -->
                    </div><!-- End section-box -->
                  </div><!-- end col-4 -->
                </div><!-- end row -->              
              </form>
            </div><!-- end modal-body -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal">إغلاق</button>
              <button type="button" class="btn btn-success btn-lg">تعديل الأمر</button>
            </div>   
          </div>
        </div>
      </div><!-- End modal --> 

      <!-- orderCancelModal Modal -->
      <div id="orderCancelModal" class="modal fade" data-backdrop="static" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title" id="orderCancelModalLabel">إلغاء الأمر</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="text-danger" data-feather="x-circle"></i></span>
              </button>
            </div>
            <div class="modal-body">
              <h3 class="text-center py-5">هل أنت متأكد من الاستمرار في إلغاء الأمر؟</h3>
            </div><!-- end modal-body -->
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal">إغلاق</button>
              <button type="button" class="btn btn-danger btn-lg">نعم، إلغاء الأمر</button>
            </div>                          
          </div>
        </div>
      </div><!-- End modal --> 

    </div>
  </div>