
      <div class="row">

          <div class="col-md-5">
              <app-enter-order></app-enter-order>
              <!-- End section-box -->
          </div>
          <div class="col-md-4">
              <app-stock-detail></app-stock-detail>
              <!-- End section-box -->
          </div>
          <div class="col-md-3">
              <app-commission-detail></app-commission-detail>
              <!-- End section-box -->
          </div>
          <!-- End col-3 -->
      </div>
      <!-- End order-row -->


  <div class="row top-buffer">
          <div class="col-md-3">
              <app-portfolio-search></app-portfolio-search>
              <!-- End section-box -->
          </div>
          <div class="col-md-9">
              <app-portfolio-detail></app-portfolio-detail>
              <!-- End section-box -->
          </div>
      <!-- End portfolio-row -->
  </div>

  <div class="row top-buffer">
          <div class="col-12">
              <app-portfolio-stock-detail></app-portfolio-stock-detail>
          </div>
      <!-- End portfolio-sympols-row -->
  </div>

  <div class="row top-buffer">
          <div class="col">
              <app-existing-order></app-existing-order>
          </div>
      <!-- End outstanding-row -->
  </div>

