<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="list-order" role="tabpanel" aria-labelledby="list-order-list">

      <div class="row order-row mb-4">
        <div class="col-5">
         <app-enter-order></app-enter-order>
          <!-- End section-box -->
        </div>
        <div class="col-4">
          <app-stock-detail></app-stock-detail>
          <!-- End section-box -->
        </div>
        <div class="col-3">
          <app-commission-detail></app-commission-detail>
          <!-- End section-box -->
        </div><!-- End col-3 -->
      </div><!-- End order-row -->


      <div class="row portfolio-row mb-4">              
        <div class="col-3">
         <app-portfolio-search></app-portfolio-search>
          <!-- End section-box -->
        </div>
        <div class="col-9">
          <app-portfolio-detail></app-portfolio-detail>
          <!-- End section-box -->
        </div>
      </div><!-- End portfolio-row -->


      <div class="row portfolio-sympols-row mb-4">
        <div class="col">
         <app-portfolio-stock-detail></app-portfolio-stock-detail>
        </div>            
      </div><!-- End portfolio-sympols-row -->

      <div class="row outstanding-row">
        <div class="col">
         <app-existing-order></app-existing-order>
        </div><!-- End section-box -->
      </div><!-- End outstanding-row -->

    </div>
   
  
  </div>