<div class="section-box h-100">
    <div class="section-title clearfix">
      <h2 class="float-right">بحث المحافظ</h2>
    </div>
    <div class="section-content">                
      <form>
        <div class="form-row">
          <div class="col-12 mb-3">
            <label for="#">أدخل رقم الهوية / رقم المحفظة</label>
            <input type="text" class="form-control form-control-lg" value="مثال: 123456789">
          </div>
        </div>
      </form>

      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">محفظة الإنماء</th>
              <th scope="col">محفظة تداول</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-primary">
              <td class="align-middle"><a href="#">1039-1</a></td>
              <td class="align-middle">4570933337</td>
            </tr>
            <tr>
              <td class="align-middle"><a href="#">1039-1</a></td>
              <td class="align-middle">4570933337</td>
            </tr>
            <tr>
              <td class="align-middle"><a href="#">1039-1</a></td>
              <td class="align-middle">4570933337</td>
            </tr>                                            
          </tbody>
        </table>  

      </div>
    </div>
  </div>